.ex-1-square:hover {
  background-color: red;
  transition-duration: 1.5s;
}

.ex-2-square:active {
  width: 1100px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-3-square:hover {
  border-radius: 50%;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

.ex-4-square:hover {
  opacity: 0%;
  transition-duration: 1.5s;
  transition-timing-function: ease-in;
}

.ex-5-square:hover {
  width: 100px;
  height: 100px;
  margin: 0;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-5-square:active {
  width: 50px;
  height: 50px;
  margin: 24px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img:hover {
  filter: hue-rotate(0.5turn);
  filter: invert(100%);
  transition-duration: 3s;
}

.ex-8-img:hover {
  filter: hue-rotate(0.5turn);
  filter: invert(100%);
  border-radius: 25px;
  transition-duration: 3s;
}

.ex-9-img:hover {
  width: 500px;
  height: auto;
  margin: 0;
  filter: hue-rotate(0.5turn);
  filter: invert(100%);
  border-radius: 25px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-10-icon {
  animation: simple-rotation 1s linear infinite;
}

@keyframes simple-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .ex-11-icon {

} */

/* .ex-12-icon {

} */

/* .ex-13-icon {

} */