.ex-1-square:hover {
  background-color: red;
  transition-duration: 1.5s;
}

.ex-2-square:active {
  width: 1100px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-3-square:hover {
  border-radius: 50%;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

.ex-4-square:hover {
  opacity: 0%;
  transition-duration: 1.5s;
  transition-timing-function: ease-in;
}

.ex-5-square:hover {
  width: 100px;
  height: 100px;
  margin: 0;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-5-square:active {
  width: 50px;
  height: 50px;
  margin: 24px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}