.ex-1-square:hover {
  background-color: red;
  transition-duration: 1.5s;
}

.ex-2-square:active {
  width: 1100px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-3-square:hover {
  border-radius: 50%;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

.ex-4-square:hover {
  opacity: 0%;
  transition-duration: 1.5s;
  transition-timing-function: ease-in;
}

.ex-5-square:hover {
  width: 100px;
  height: 100px;
  margin: 0;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-5-square:active {
  width: 50px;
  height: 50px;
  margin: 24px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img:hover {
  filter: hue-rotate(0.5turn);
  filter: invert(100%);
  transition-duration: 3s;
}

.ex-8-img:hover {
  filter: hue-rotate(0.5turn);
  filter: invert(100%);
  border-radius: 25px;
  transition-duration: 3s;
}

.ex-9-img:hover {
  width: 500px;
  height: auto;
  margin: 0;
  filter: hue-rotate(0.5turn);
  filter: invert(100%);
  border-radius: 25px;
  transition-duration: 3s;
  transition-timing-function: ease-out;
}

.ex-10-icon {
  animation: simple-rotation 1s linear infinite;
}

@keyframes simple-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ex-11-icon:hover {
  animation: go-back-rotation 1s linear infinite;
}

@keyframes go-back-rotation {
  0% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ex-12-top-white {
  animation: tuz-tuz-top 1s linear infinite;
}

@keyframes tuz-tuz-top {
  0% {
    top: -10px;
    left: 10%;
  }

  50% {
    top: -10px;
    left: 60%;
  }

  100% {
    top: -10px;
    left: 10%;
  }
}

.ex-12-bottom-white {
  animation: tuz-tuz-bottom 1s linear infinite;
}

@keyframes tuz-tuz-bottom {
  0% {
    bottom: -10px;
    right: 20%;
  }

  50% {
    bottom: -10px;
    right: 43%;
  }

  100% {
    bottom: -10px;
    right: 20%;
  }
}

      /* HO VOLUTO STRAFARE PER LA SCIENZA */
.ex-13-top-white {      /* ruotando - da aggiungere il resize? */
  animation: do-a-barrel-roll-top 4s linear infinite;
}

@keyframes do-a-barrel-roll-top {
  0% {
    top: -10px;
    left: -20px;
  }

  24% {
    transform: rotate(0deg);
    top: -10px;
    left: 85%;
  }

  25% {
    transform: rotate(90deg);
    top: -10px;
    left: 85%;
  }

  49% {
    transform: rotate(90deg);
    top: 50px;
    left: 85%;
  }

  50% {
    transform: rotate(180deg);
    top: 50px;
    left: 85%;
  }

  74% {
    transform: rotate(180deg);
    top: 50px;
    left: -25px;
  }

  75% {
    transform: rotate(270deg);
    top: 50px;
    left: -25px;
  }

  99% {
    transform: rotate(270deg);
    top: -10px;
    left: -25px;
  }

  100% {
    transform: rotate(360deg);
    top: -10px;
    left: -25px;
  }
}

.ex-13-bottom-white {       /* accorciandosi e nascondendosi */
  animation: hide-and-resize-bottom 4s linear infinite;
}

@keyframes hide-and-resize-bottom {
  0% {
    height: 10px;
    width: 60px;
    bottom: -10px;
    right: -10px;
  }

  30% {
    height: 10px;
    width: 20px;
    bottom: -10px;
    right: 100%;
  }

  45% {
    height: 10px;
    width: 20px;
    bottom: 60px;
    right: 100%;
  }

  75% {
    height: 10px;
    width: 60px;
    bottom: 60px;
    right: -10px;
  }

  100% {
    height: 10px;
    width: 30px;      /* non è andata come sperassi */
    bottom: -10px;
    right: -10px;
  }
}